<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Your Daily Digest</title>
  </head>
  <body>
    <img src="cid:chart">
    <p>
      Sincerely,<br/>
      HS
    </p>
  </body>
</html>
